<nz-layout class="app-layout">
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <span class="header-trigger" (click)="openFile()">
            <span class="trigger"
               nz-icon
               nzType="file-search"
            ></span>
        </span>
        <span class="header-trigger" (click)="saveFile()">
            <span class="trigger"
               nz-icon
               nzType="file-done"
            ></span>
        </span>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <h3 [ngStyle]="{ margin: '16px 0' }">Отваньсянь всё это</h3>
        <ul nz-list nzBordered nzSize="large">
          <nz-list-header>
            <p>
              Субтитры, {{perPage*page+1}}-{{min(perPage*page+perPage, subtitles.length)}} из {{subtitles.length}}
            </p>
            <nz-pagination [nzPageIndex]="page+1" [nzTotal]="subtitles.length" [nzPageSize]="perPage"
                           nzShowQuickJumper
            (nzPageIndexChange)="page = $event-1"></nz-pagination>
          </nz-list-header>
          <li nz-list-item *ngFor="let item of currentItems(); let i = index" [attr.data-index]="i"  >
            <div nz-row [nzGutter]="16">

              <div nz-col nzSpan="12">
                <nz-card style="width: 500px" nzTitle="#{{item.id}}: {{item.startTime}} - {{item.endTime}}">
                  <nz-alert [nzType]="item.rus? 'success' : 'warning'" [nzMessage]="item.text"></nz-alert>
                </nz-card>
              </div>
              <div nz-col nzSpan="12">
                <nz-card style="width: 500px" nzTitle="#{{item.id}}: {{item.startTime}} - {{item.endTime}}">
                  <textarea style="width: 100%; height: 100px" [placeholder]="'Великий и могучий русский język\n'+item.text"
                            nz-input
                            nzAutosize="{minRows: 4}"
                            [value] = "item.rus ?? ''"
                  (change)="onChange(item, $event)"></textarea>

                </nz-card>
              </div>
            </div>
          </li>
          <nz-list-footer>
            <p>
              Субтитры, {{perPage*page+1}}-{{min(perPage*page+perPage, subtitles.length)}} из {{subtitles.length}}
            </p>
            <nz-pagination [nzPageIndex]="page+1" [nzTotal]="subtitles.length" [nzPageSize]="perPage"
                           nzShowQuickJumper
                           (nzPageIndexChange)="page = $event-1"></nz-pagination>
          </nz-list-footer>
        </ul>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
